*,
*:before,
*:after {
    box-sizing:border-box;
    margin:0;padding:0;
}
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
body {
    background: linear-gradient(to bottom right, #ffffff, #DEDEE0);
    background-size: cover;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
    color: #121212;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.41176471;
    position: relative;
    text-align: left;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover{
    color: #121212;
}
a,
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
}
textarea {
    resize: none;
    vertical-align: middle;
}
img {
    border: 0;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.display{
    padding: 60px;
}
.content{
    height: 600px;
    width: 1024px;
    margin: 0 auto;
    border-radius: 50px;
    display: block;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .06);
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, .06);
    overflow: hidden;
    background: #fff url(../img/hktaa-bg-cycle.png) repeat-x center center;
    background-size: 1520px auto;
    animation: scrollBackground 200s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -512px 
}
@keyframes scrollBackground {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1520px 0px;
  }
}

.logo{
    text-align: center;
    position: relative;
    top: 160px;
    z-index: 2;
}
.logo img{
    width: 300px;
    height: auto;
    display: block;
    margin: 40px auto;
}

.copyright{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    color: #999;
    font-size: 12px;
}
.copyright p.links{
    color: #ddd;
    margin-bottom: 8px;
    font-size: 14px;
}
.copyright p.links a{
    margin: 0 10px;
}

.language{
    position: absolute;
    top: 24px;
    right: 40px;
    color: #ddd;
    background: #f6f6f6;
    padding: 6px;
    border-radius: 50px;
}
.language span{
    margin: 0 10px;
    color: #999;
}

.modal-title{
    font-size: 20px;
}
.modal-close{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 22px;
    cursor: pointer;
    opacity: .6;
}
.modal-close:hover{
    opacity: 1;
}
.modal-header{
    border-bottom: none!important;
}
.modal-header,
.modal-body{
    padding: 15px 30px!important;
}
.modal-body p{
    line-height: 1.8;
    padding-bottom: 20px;
}
.modal-content{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: none!important;
    border-radius: 10px!important;
}

@media screen and (max-width: 1024px) {
    body{
        background: #fff;
    }
    .content{
        box-shadow: none;
        border-radius: 0;
        height: 100%;
        width: 100%;
        position:absolute;
        left: 0;
        top: 0;
        margin: 0 0;
    }
    .display{
        padding: 0;
        height: 100%;
    }
    .logo{
        top: 180px;
    }
    .logo img{
        width: 220px;
    }
    .language{
        right: 20px;
    }
    .copyright{
        bottom: 30px;
    }
}